@import "assets/css/config";

.header {
  padding: 16px 0;
  background: $white;
  z-index: 1;
}

.content {
  @include content;

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
  gap: 16px;
}

.logoImg {
  height: 58px;
}

.logoName {
  @include paragraph-2;
}

.user {
  display: flex;
  align-items: center;
  gap: 32px;
}

.userProfile {
  display: flex;
  align-items: center;
  gap: 16px;
  cursor: pointer;
}

.userImg {
  width: 58px;
  height: 58px;
  object-fit: cover;

  &.mobile {
    display: none;
  }
}

.userInfoContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.userInfo {
  display: flex;
  flex-direction: column;
}

.userName {
  @include paragraph-1;
}

.userRole {
  @include caption-1;
  color: $gray-3;
}

.userLogout {
  color: $red !important;

  path {
    stroke: $red !important;
  }
}

.userMenuIcon {
  transition: $transition;

  &.active {
    transform: rotate(180deg);
  }
}

@include mobile {
  .header {
    padding: 8px 0;
    border-radius: 0 0 8px 8px;
  }

  .logoImg {
    height: 45px;
  }

  .user {
    display: none;
  }

  .userImg.mobile {
    display: block;
    width: 45px;
    height: 45px;
  }
}
