@import "assets/css/config";

.text {
  @include paragraph-2;
  max-width: 370px;
}

.contactsContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.contactsTitle {
  @include paragraph-3;
  color: $gray-3;
}

.contacts {
  display: flex;
  align-items: center;
  gap: 24px;
}

.contact {
  @include paragraph-2;

  display: flex;
  align-items: center;
  gap: 8px;
}

.contactIcon {
  width: 24px;
  height: 24px;
}
