@import "assets/css/config";

.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.navBtn {
  align-self: flex-start;
}

.title {
  text-transform: uppercase;
}

.content {
  display: flex;
  gap: 32px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  width: 100%;
  background: $white;
  border-radius: 8px;
}

.formHFields {
  display: flex;
  gap: 16px;

  > :global(.ant-form-item) {
    width: 100%;
  }
}

.formMentor {
  display: flex;
  align-items: center;
  gap: 8px;
}

.formMentorImg {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
}

.formMentorName {
  @include paragraph-2;
}

.hint {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  align-self: flex-start;
  align-items: flex-start;
  gap: 8px;
  padding: 16px;
  width: 40%;
  background: $white;
  border-radius: 8px;
}

.hintIcon path {
  stroke: $gray-3;
}

.hintText {
  @include paragraph-2;

  color: $gray-3;
}

.formField {
  width: 421px;
}
