@import "assets/css/config";

.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  flex-grow: 1;
}

.title {
  text-transform: uppercase;
}

.nothing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  gap: 32px;
  text-align: center;
}

.nothingIcon {
  width: 150px;
  height: 150px;

  path {
    stroke: $gray-5;
  }
}

.nothingText {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 378px;
}

.nothingDescription {
  @include paragraph-2;
}

.card {
  @include paragraph-2;

  padding: 16px;
  width: 100%;
  background: $white;
  border-radius: 8px;
}

.cardTitle {
  color: $gray-3;
}

.timeline {
  display: flex;
  margin-top: 7px;
  width: 100%;
}

.timelineItem {
  @include paragraph-2;

  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  position: relative;
  padding: 23px 24px 16px 0;
  background: $white;

  &:first-child {
    padding-left: 16px;
    border-radius: 8px 0 0 8px;

    &:after {
      left: 28px !important;
    }
  }

  &:last-child {
    padding-right: 16px;
    border-radius: 0 8px 8px 0;
  }

  &.past {
    color: $gray-4;
  }

  &:not(:last-child):after {
    content: "";
    position: absolute;
    top: 28px;
    left: 12px;
    right: -24px;
    height: 1px;
    background: $gray-5;
  }
}

.timelineItemMark {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid $gray-4;
  background: $white;

  .timelineItem.active & {
    border-color: $orange;
    background: $orange;
  }

  .timelineItem.past & {
    background: $gray-4;
  }
}

.hint {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.hintWithBtn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.comment {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background: $gray-5;
}

.score {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.scoreHeader {
  display: flex;
  align-items: baseline;
  gap: 8px;
}

.scoreDetails {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.scoreDetailsItem {
  @include paragraph-2;

  display: flex;
  align-items: baseline;
  gap: 8px;
}

.scoreDetailsItemDivider {
  flex-grow: 1;
  border-bottom: 1px dashed $gray-5;
}

.cards {
  display: flex;
  align-items: flex-start;
  gap: 30px;
}

@include tablet {
  .cards {
    flex-direction: column-reverse;
    gap: 24px;
  }
}

@include mobile {
  .nothingTitle {
    @include heading-2;
  }

  .nothingLink {
    display: flex;
    flex-direction: column;
    width: 311px;
  }

  .timeline {
    @include scrollable(16px);

    width: auto;
  }

  .timelineItem {
    flex-shrink: 0;
    width: auto;
  }

  .hintWithBtn {
    align-items: stretch;
  }

  .hintWithBtnLink {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
