@import "assets/css/config";

.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.title {
  text-transform: uppercase;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
