@import "assets/css/config";

.container {
  position: fixed;
  z-index: 1;
}

.backdrop {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 100%;
  bottom: 100%;
  z-index: 100;
  background: rgba(111, 111, 111, 0.7);
  backdrop-filter: blur(2px);
  opacity: 0;
  transition: $transition opacity, 0s right, 0s bottom;
  transition-delay: 0s, $transition, $transition;

  .container.active & {
    right: 0;
    bottom: 0;
    opacity: 1;
    transition-delay: 0s;
  }
}

.popup {
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: fixed;
  padding: 32px;
  top: 50%;
  left: 50%;
  max-height: 85%;
  max-width: 90%;
  z-index: 100;
  border-radius: 8px;
  background: $white;
  color: $gray-2;
  transform: scale(0) translate(-50%, -50%);
  transform-origin: left top;
  transition: $transition;
  overflow: auto;

  .container.active & {
    transform: scale(1) translate(-50%, -50%);
  }

  :global(.control) {
    align-self: flex-start;
  }

  :global(.controls) {
    display: flex;
    gap: 24px;
  }
}

.popupHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popupTitle {
}

@include mobile {
  .popup {
    gap: 24px;
    right: 0;
    left: 0;
    bottom: 0;
    top: auto;
    max-width: initial;
    padding: 24px 16px;
    border-radius: 24px 24px 0 0;
    transform: translateY(100%);

    > * {
      width: 100% !important;
    }

    .container.active & {
      transform: none;
    }

    :global(.control) {
      width: 100%;

      &:global(.desktop) {
        display: none;
      }
    }
  }

  .popupTitle {
    @include heading-5;
  }
}
