@import "assets/css/config";

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 16px;
  background: $white;
  border-radius: 8px;
  transition: $transition;

  &:hover {
    box-shadow: 0px 0px 20px rgba(71, 91, 172, 0.25);
  }
}

.cardInfo {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-right: 80px;
}

.cardUser {
  display: flex;
  align-items: center;
  gap: 16px;
}

.cardUserImg {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  object-fit: cover;
}

.cardUserName {
  @include paragraph-1;
}

.cardIconBlock {
  @include paragraph-2;

  display: flex;
  align-items: center;
  gap: 8px;
}

.deleteIcon {
  position: absolute;
  top: 16px;
  right: 16px;
  opacity: 0;
  transition: $transition;

  path {
    stroke: $red;
  }

  .card:hover & {
    opacity: 1;
  }

  &:hover {
    transform: scale(1.2);
    cursor: pointer;
  }
}
