@import "assets/css/config";

.responsesContainer {
  display: flex;
  flex-direction: column;
  gap: 48px;
  width: 100%;
  flex-shrink: 0.75;
}

.vacancy {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.topLink {
  align-self: flex-start;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerTitle {
  text-transform: uppercase;
}

.headerControls {
  display: flex;
  align-items: center;
  gap: 24px;
}

.organization {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.organizationName {
  @include paragraph-2;
}

.organizationInfo {
  @include paragraph-2;

  display: flex;
  align-items: center;
  gap: 32px;
  color: $gray-3;
}

.organizationAddress {
  display: flex;
  align-items: center;
  gap: 4px;
}

.organizationAddressDot {
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: $orange;
}

.cards {
  display: flex;
  align-items: flex-start;
  gap: 32px;
}

.vCards {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.hCards {
  display: flex;
  gap: 18px;
  width: 100%;
}

.card {
  @include paragraph-2;

  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px;
  border-radius: 8px;
  background: $white;
  width: 100%;
}

.cardTitle {
  @include paragraph-3;

  color: $gray-3;
}

.mentor {
  display: flex;
  align-items: center;
  gap: 16px;
}

.mentorImg {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
}

.file {
  align-self: flex-start;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px 24px;
  background: $gray-6;
  border-radius: 24.5px;
}

.fileNameContainer {
  @include paragraph-2;

  display: flex;
  align-items: center;
  gap: 4px;
}

.fileIcon {
  width: 18px;
  height: 18px;
}

.fileSize {
  @include paragraph-3;

  color: $gray-3;
}

.statusComment {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px;
  border-radius: 8px;
  background: $gray-5;
  color: $gray-1;
}

.statusCommentTitle {
  @include heading-7;
}

.statusCommentText {
  @include paragraph-2;
}

.bottomCard {
  @include full-width;
  @include full-bottom;

  display: flex;
  flex-direction: column;
  position: sticky;
  padding-top: 16px;
  padding-bottom: 16px;
  bottom: 0;
  background: $white;
  box-shadow: 0px 0px 20px rgba(71, 91, 172, 0.25);
  border-radius: 24px 24px 0 0;
}

.bottomCardStatus {
  @include paragraph-2;

  align-self: center;
}

.responsePopupForm {
  display: flex;
  flex-direction: column;
  gap: inherit;
}

@include mobile {
  .organization {
    gap: 8px;
  }

  .organizationInfo {
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }

  .rightCard {
    display: none;
  }

  .hCards:not(.mobileHCards) {
    flex-direction: column;
  }
}
