@import "assets/css/config";

.container {
  position: relative;
  height: 100%;
}

.map {
  border: 1px solid $gray-4;
  border-radius: 8px;
  height: 100%;
}

.card {
  position: absolute;
  top: 8px;
  left: 8px;
  bottom: 8px;
  width: 300px;
  opacity: 0;
  transform: scale(0);
  transform-origin: top left;
  transition: $transition;

  &.active {
    transform: none;
    opacity: 1;
  }
}

@include mobile {
  .container {
    @include full-width;
    @include full-bottom;

    padding: 0 !important;
  }

  .map {
    border-radius: 0;
    border: none;
  }

  .card {
    bottom: 0;
    left: 0;
    top: auto;
    width: 100%;
    border-radius: 24px 24px 0 0 !important;
    transform: translateY(100%);
    opacity: 1;
  }
}
