@import "assets/css/config";

.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex-grow: 1;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  text-transform: uppercase;
}

.nothing {
  @include paragraph-2;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  gap: 16px;
  text-align: center;
}

.nothingIcon {
  width: 150px;
  height: 150px;

  path {
    stroke: $gray-5;
  }
}

.filters {
  display: flex;
  align-items: center;
  gap: 8px;
}

.searchInput {
  width: 484px;
}

.filtersSelect {
  width: 180px;
}

.candidates {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.sorting {
  @include paragraph-2;

  display: flex;
  align-items: center;
  gap: 16px;
}
