@import "assets/css/config";

.mobileModal {
  display: none;
}

.desktopModalContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 18px;
  height: 100%;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.user {
  @include paragraph-2;

  display: flex;
  align-items: center;
  gap: 16px;
}

.userImg {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
}

.userRating {
  display: flex;
  align-items: center;
  gap: 4px;
  color: $gray-3;
}

.userRatingIcon {
  width: 16px;
  height: 16px;
  fill: $orange;

  path {
    stroke: $orange;
  }
}

.main {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.feedbacks {
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow: auto;
  max-height: 50vh;
}

@include mobile {
  .mobileModal {
    display: flex;
  }

  .container {
    gap: 26px;
  }
}
