@import "assets/css/config";

.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex-grow: 1;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.headerTitle {
  text-transform: uppercase;
}

.form {
  display: flex;
  flex-grow: 1;
  gap: 24px;
  padding: 16px;
  background: $white;
  border-radius: 8px;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.fields {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.hFields {
  display: flex;
  gap: 16px;
}

.field {
  width: 100%;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.controls {
  display: flex;
  gap: 24px;
}

@include tablet {
  .container {
    gap: 16px;
  }

  .header {
    gap: 16px;
  }
}

@include mobile {
  .form {
    flex-direction: column;
    background: none;
    padding: 0;
  }

  .mobileHeader {
    display: flex;
  }

  .main {
    @include full-width;
    @include full-bottom;

    gap: 32px;
    padding: 16px 16px 24px;
    background: $white;
    border-radius: 20px 20px 0 0;
  }

  .fields {
    gap: 24px;
  }

  .hFields {
    flex-direction: column;
    gap: 24px;
  }

  .footer {
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 32px;
  }

  .cancelBtn {
    display: none;
  }

  .controls {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
