@import "assets/css/config";

.card {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px;
  border-radius: 8px;
  background: $white;
  transition: $transition;

  &:hover {
    box-shadow: 0px 0px 20px rgba(71, 91, 172, 0.25);
  }
}

.name {
  @include paragraph-1;
}

.info {
  @include paragraph-2;

  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $gray-3;
}

.address {
  display: flex;
  align-items: center;
  gap: 4px;
}

.addressDot {
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: $orange;

  .card:nth-child(2n) & {
    background: $purpure;
  }
}

.infoValues {
  display: flex;
  align-items: center;
  gap: 24px;
}

.infoValuesDisabled {
  color: $gray-4 !important;
}
