@import "assets/css/config";

.status {
  display: flex;
  align-items: center;
  gap: 8px;
}

.dot {
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;

  .status:global(.active) & {
    background: $green;
  }

  .status:global(.archived) & {
    background: $gray-4;
  }
}
