@import "assets/css/config";

.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerTitle {
  text-transform: uppercase;
}

.nothing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  height: 100%;
}

.nothingText {
  @include paragraph-2;

  text-align: center;
}

.vacancies {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.vacancy {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px;
  border-radius: 8px;
  background: $white;
}

.vacancyHeader {
  @include paragraph-3;

  display: flex;
  align-items: center;
  gap: 24px;
  color: $gray-3;
}

.vacancyStatus {
  gap: 7px;
}

.vacancyBody {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 16px;
}

.vacancyInfo {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.vacancyName {
  @include paragraph-1;
}

.vacancyLocation {
  @include paragraph-3;

  color: $gray-3;
}

.vacancyUser {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-right: 20px;
}

.vacancyUserImg {
  width: 48px;
  height: 48px;
  object-fit: cover;
  border-radius: 50%;
}

.vacancyUserInfo {
  display: flex;
  flex-direction: column;
}

.vacancyUserName {
  @include paragraph-2;
}

.vacancyUserRole {
  @include paragraph-3;

  color: $gray-3;
}

.vacancyResponses {
  padding-top: 7px;
  border-top: 1px solid $gray-6;
}

.vacancyResponsesBtn {
  gap: 8px;
}

.vacancyResponsesNew {
  @include paragraph-3;

  color: $green;
}

.filters {
  display: flex;
  align-items: center;
}

.filtersFields {
  display: flex;
  align-items: center;
  gap: 8px;
}

.filtersInput {
  width: 296px;
}

.filtersMentor {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-right: 20px;
}

.filtersMentorImg {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
}

.filtersMentorName {
  @include paragraph-2;
}

.filtersClear {
  margin: auto;
}
