@import "assets/css/config";

.status {
  display: flex;
  align-items: center;
  gap: 7px;
}

.dot {
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: $gray-4;

  .status.light-blue & {
    background: $light-blue;
  }

  .status.orange & {
    background: $orange;
  }

  .status.green & {
    background: $green;
  }

  .status.red & {
    background: $red;
  }

  .status.gray & {
    background: $gray-4;
  }

  .status.purpure & {
    background: $purpure;
  }
}
