@import "assets/css/config";

.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex-grow: 1;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.headerTitle {
  text-transform: uppercase;
}

@include tablet {
  .container {
    gap: 16px;
  }

  .header {
    gap: 16px;
  }
}
