$primary: #ff0f43;
$background: #ffffff;
$text: #1a1230;

$font: "Alter Aves";
$font-heading: "GT Walsheim LC";

$font-size: 18px;
$font-weight: 400;

$content-width: 1600px;
$content-padding: 30px;

$transition: 0.3s;
