// colors

$gray-1: #1a1230;
$gray-2: #1a1230;
$gray-3: #6f6f6f;
$gray-4: #c1c2c7;
$gray-5: #d7d8de;
$gray-6: #e9eaee;
$white: #ffffff;
$blue: #2f80ed;
$red: #eb5757;
$orange: #ff9900;
$green: #219653;
$purpure: #b390ec;
$light-blue: #5cd5dd;

$text: $gray-2;

//transition

$transition: 0.3s;

// media

@mixin tablet {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 400px) {
    @content;
  }

  //@media (max-width: 375px) {
  //@content;
  //}
}

@mixin mobile-narrow {
  @media (max-width: 320px) {
    @content;
  }
}

// typography

@mixin title {
  font-size: 64px;
  line-height: 130%;
  font-family: "Alter Aves";
  font-weight: 400;
  text-transform: uppercase;

  @include mobile {
    font-size: 35px;
  }
}

@mixin heading-1 {
  font-size: 40px;
  line-height: 130%;
  font-family: "Alter Aves";
  font-weight: 400;

  @include mobile {
    font-size: 30px;
  }
}

@mixin heading-2 {
  font-size: 30px;
  line-height: 130%;
  font-family: "GT Walsheim LC";
  font-weight: 700;

  @include mobile {
    font-size: 28px;
  }
}

@mixin heading-3 {
  font-size: 24px;
  line-height: 130%;
  font-family: "GT Walsheim LC";
  font-weight: 700;
}

@mixin heading-4 {
  font-size: 20px;
  line-height: 130%;
  font-family: "GT Walsheim LC";
  font-weight: 700;
}

@mixin heading-5 {
  font-size: 18px;
  line-height: 140%;
  font-family: "GT Walsheim LC";
  font-weight: 700;
}

@mixin heading-6 {
  font-size: 18px;
  line-height: 140%;
  font-family: "GT Walsheim LC";
  font-weight: 700;

  @include mobile {
    font-size: 16px;
  }
}

@mixin heading-7 {
  font-size: 16px;
  line-height: 140%;
  font-family: "GT Walsheim LC";
  font-weight: 700;

  @include mobile {
    font-size: 14px;
  }
}

@mixin heading-8 {
  font-size: 14px;
  line-height: 160%;
  font-family: "GT Walsheim LC";
  font-weight: 700;
}

@mixin paragraph-1 {
  font-size: 20px;
  line-height: 160%;
  font-family: "GT Walsheim LC";
  font-weight: 400;

  @include mobile {
    font-size: 16px;
  }
}

@mixin paragraph-2 {
  font-size: 16px;
  line-height: 160%;
  font-family: "GT Walsheim LC";
  font-weight: 400;

  @include mobile {
    font-size: 14px;
  }
}

@mixin paragraph-3 {
  font-size: 14px;
  line-height: 160%;
  font-family: "GT Walsheim LC";
  font-weight: 400;
}

@mixin caption-1 {
  font-size: 12px;
  line-height: 140%;
  font-family: "GT Walsheim LC";
  font-weight: 400;
}

@mixin caption-2 {
  font-size: 10px;
  line-height: 140%;
  font-family: "GT Walsheim LC";
  font-weight: 400;
}

@mixin button {
  font-size: 16px;
  line-height: 140%;
  font-family: "GT Walsheim LC";
  font-weight: 400;

  @include mobile {
    font-size: 14px;
  }
}

// layout

@mixin content {
  padding: 0 30px;
  width: 100%;
  max-width: calc(1200px + 60px);

  @include tablet {
    padding: 0 20px;
    max-width: calc(728px + 40px);
  }

  @include mobile {
    padding: 0 16px;
    //max-width: calc(343px + 32px);
  }

  @include mobile-narrow {
    padding: 0 16px;
    max-width: calc(288px + 32px);
  }
}

@mixin full-width {
  margin-left: -30px;
  margin-right: -30px;
  padding-left: 30px;
  padding-right: 30px;

  @include tablet {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  @include mobile {
    margin-left: -16px;
    margin-right: -16px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

@mixin full-bottom {
  @include mobile {
    margin-bottom: -24px;
  }
}

@mixin scrollable($pad) {
  overflow: auto;
  margin-left: -$pad;
  margin-right: -$pad;
  padding-left: $pad;
  padding-right: $pad;

  &::-webkit-scrollbar {
    display: none;
  }
}

@mixin main-scrollable() {
  @include scrollable(16px);
}
